html, body {
  margin: 0;
  border: 0;
  padding: 0;
  scrollbar-width: none;
}

canvas {
  display: block;
}

/* Window dressing */
.content {
  height:calc(100% - 42px);
  background-color: black;
}

.window {
  height: calc(100vh - 8px);
}

.title-bar {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  font-size: 11px;
}

/* Webstalker formtting */
.webstalker {
  margin: auto;
  max-width: 960px;
  display: flex; 
  flex-direction: row; 
  height: 100%;

  overflow-y: hid;
}

.webstalker-left {
  width:60%; 
  height: 95%;
  color:white;

  display: flex; 
  flex-direction: column; 
}

.webstalker-right {
  width: 40%; 
  height: 85%;
  color: white;

  display: flex;
  flex-direction: column; 
}

.webstalker-left-element, .webstalker-right-element {
  margin: 1rem 1rem 0rem 1rem;
  border: solid;
  border-width: 1px;
  flex-grow: 1;
  border-color: white;
  /* background-color: red; */
}


.webstalker-right-element {
  margin: 1rem 1rem 0rem 0rem;
}

/* left */
.webstalker-HTML-stream {
  flex-grow: 1;
}

.webstalker-info {
  flex-grow: 8;
}

/* right */
.webstalker-map {
  flex-grow: 8;
}

.webstalker-stash {
  flex-grow: 1;
}

/* Within webstalker stuff */
.plus {
  --t:2px;   /* Thickness */
  --l:10px;  /* size of the symbol */
  --s:5px;  /* space around the symbol */
  --c1:#fff; /* Plus color*/
  --c2:#000; /* background color*/

  display:inline-block;
  width:var(--l);
  height:var(--l);
  padding:var(--s);
  box-sizing:border-box; /*Remove this if you don't want space to be included in the size*/
  
  border-color: white;
  border-style: solid;
  border-width: 1px;

  margin: 4px 0px 0px 4px;

  background:
    linear-gradient(var(--c1) 0 0) content-box,
    linear-gradient(var(--c1) 0 0) content-box,
    var(--c2);
  background-position:center;
  background-size: 100% var(--t),var(--t) 100%;
  background-repeat:no-repeat;

  position:relative;
  z-index: 2;
}

.webstalker-footer {
  float: right;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 5px 0px 0px 5px;
  width: 30%;
  background-color: black;

  position: relative; top:calc(100% - 20px);
  z-index: 2;
}

.webstalker-text {
  /* background-color: red; */
  width: 80%;
  margin: auto;
  padding-top: 1REM;

  position: relative;

  height: calc(100% - 16px);
  top:calc(-25px);
}

.webstalker-text * {
  margin: 0;
  padding: 0;
}

.webstalker-text p {
  font-size: 1rem;
}

/* Crawler */
.webstalker-load {
  height: 0.4rem;
  display: flex;
  flex-direction: row;
  container-type: inline-size;
}

.webstalker-load div {
  flex-grow: 1;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  box-sizing:border-box;
}

.webstalker-load-1 {
  border-color: white;
  animation-delay: 0s; 
}

.webstalker-load-2 {
  border-color: rgb(187, 187, 187);
  animation-delay: 0.5s; 
}

.webstalker-load-3 {
  border-color: rgb(66, 66, 66);
  animation-delay: s; 
}

.webstalker-span {
  animation: loading 10s linear infinite; 
  background-color: rgb(187, 187, 187);
  height: 0.4rem;
  width: 0.4rem;

  position: absolute;
  z-index: -1;
}

@keyframes loading { 
  100%{ 
    transform: translateX(calc(100cqw - 100%)); 
  } 
} 

/* MAP */
.map {
  z-index: 1;
  width: 99%;

  position: relative;
  background-image: url("map.png") ;  
  background-repeat: no-repeat;
  background-position: center; 
}

.dismantle {
  z-index: 1;

  position: relative;
  background-image: url("dismantle.png") ;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

